@import "abstracts/variables";

.layout {
  position: relative;
  box-sizing: border-box;
  padding-top: 81px;

  height: 100vh;

  padding-left: 0;
  padding-top: 75px;

  transition: padding 0.5s;

  &.navbar-open {
    padding-left: $navbar-width;
  }
}

.main {
  padding: 27px;
}
